body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: white;
  animation: sub-fadein 0.3s ease-in;
}

.showBackroundImages {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/pre-loading-image.jpg");
  position: absolute;
  min-width: 100vw;
  z-index: -1;
  background-color: black;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* animation: sub-fadein 2s ease-in; */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* position: relative; */
}

a {
  color: silver;
  text-decoration: none;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  /* position: relative; */
}
.navigation-desktop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 5%;
}
.links-mobile {
  display: none;
}
.hamburger {
  display: none;
}
.extra-mobile {
  display: none;
}

.logo {
  display: flex;
  width: 0%;
  padding-inline-start: 3rem;
  display: none;
}

.links-desktop {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-left: 3.6rem;
}

.extra-desktop {
  width: 40%;
  display: flex;
  justify-content: center;
}

/* Section */
.main-body {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 3rem;
  min-height: 90%;
}

.main-body > * {
  width: 100%;
  margin-bottom: 1rem;
}

.left-side {
  padding-inline-start: 3rem;
  box-sizing: border-box;
}

.anime-title {
  display: flex;
  align-items: flex-end;
  height: 100%;
  font-size: 48px;
  font-family: DexaPro-Bold;
  margin: 0;
  line-height: 1em;
  overflow-y: clip;
  animation: sub-fadein 1.2s ease-in;
}

.anime-title-container {
  margin: 0;
  height: 100%;
}

p {
  font-size: 12px;
  width: 100%;
  text-align: justify;
}

.anime-synopsis {
  height: 100%;
  margin: 0;
  padding-right: 1rem;
  font-size: 14px;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  /* margin-top: 1rem; */
  animation: sub-fadein 1.5s ease-in;
}

.anime-meta-details {
  display: flex;
  align-items: flex-end;
  height: 12rem;
  margin: 0;
  padding-top: 0.8rem;
}

.more-info {
  color: white;
  background-color: #0195ff;
  border: none;
  padding: 1rem;
  padding-inline: 2rem;
  border-radius: 5%;
}

.more-info:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
  filter: drop-shadow(0 0 0.55rem #0195ff);
  transform: scale(1.05) rotate(-1deg);
  backdrop-filter: blur(10px);
  transition: all 0.2s ease;
}

.share-info {
  font-size: 24px;
  border: none;
  background-color: transparent;
  color: #0195ff;
  cursor: pointer;
  margin-left: 4rem;
}

.share-info:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
  filter: drop-shadow(0 0 0.55rem #0195ff);
  backdrop-filter: blur(10px);
  transition: all 0.2s ease;
}

.right-side {
  min-width: 0;
  min-height: 35%;
  align-items: flex-end;
  width: 100%;
  position: relative;
}

.anime-cards {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  overflow-x: scroll;
  gap: 0.1rem;
  min-width: 0;
  cursor: grab;
  padding: 1rem;
  scroll-behavior: smooth;
}

.cards {
  height: 200px;
  width: 150px;
  border: 2px solid rgba(0, 0, 0, 0.301);
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  margin-inline: 0.2rem;
  font-size: small;
  text-align: center;
  cursor: pointer;
  animation: sub-fadein 1.5s ease-in;
  overflow: hidden;
}

.cards:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 2px 2px #0195ff;
  background-color: linear-gradient(
    rgba(255, 255, 255, 0.76),
    rgba(255, 255, 255, 0.76)
  );
  transition: all 1s ease;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Scroll Bars */
.style-1::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.style-1::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.style-1::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #acabab;
}

/* Search Bar From Hall Management */
.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-search {
  height: 10px;
  width: 0px;
  border-style: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #0195ff;
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 100;
}
.btn-search {
  padding-right: 1rem;
  border-style: none;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 2px;
  top: 15%;
  color: #ffffff;
  background-color: transparent !important;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 200px;
  border-radius: 0px;
  background-color: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 200px;
  border-radius: 0px;
  background-color: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.remove {
  background: none;
}

/* Transition Anime Data */
.year {
  animation: sub-fadein 1.56s ease-in;
}

.genre {
  animation: sub-fadein 1.66s ease-in;
}

.episode-count {
  animation: sub-fadein 1.76s ease-in;
}

.rating {
  animation: sub-fadein 1.86s ease-in;
}

.surpise-holder {
  display: flex;
  width: 100%;
  justify-content: center;
}

.surprise {
  color: white;
  background-color: #0195ff;
  border: none;
  padding: 0.7em;
  padding-inline: 2rem;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.surprise:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
  filter: drop-shadow(0 0 0.55rem #0195ff);
  transform: scale(1.05) rotate(-1deg);
  backdrop-filter: blur(10px);
  transition: all 0.2s ease;
}

/* Carousel */
.arrow-left,
.arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 2px solid #0195ff;
  border-radius: 100%;
  padding: 20px;
  box-sizing: border-box;
  z-index: 5;
  background-color: #0195ffb2;
  cursor: pointer;
  overflow: hidden;
  animation: sub-fadein 0.5s ease-in;
}

.arrow-left:hover,
.arrow-right:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 0.4rem #0195ffb2);
  transition: all 0.5s ease;
  overflow: hidden;
}

.arrow-left {
  left: 1rem;
  top: 30%;
}

.arrow-right {
  right: 1rem;
  top: 30%;
}

.arrow-right::before,
.arrow-left::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: fff;
  animation: shiny-btn1 7s ease-in-out infinite;
  overflow: hidden;
}

/* On hover Disable Pulsing on current arrow */
.arrow-left:hover::before,
.arrow-right:hover::before {
  display: none;
  overflow: hidden;
}

/* When any is hovered disable pulsing */
.arrow-left:hover ~ .arrow-right::before {
  display: none;
  overflow: hidden;
}

.arrow-right:hover ~ .arrow-left::before {
  display: none;
  overflow: hidden;
}

/* Phone Version Starts here */
@media screen and (max-width: 425px) {
  .showBackroundImages {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("./images/pre-loading-image-mobile.jpg");
    background-size: 100% 100%;
    position: fixed;
    width: 100vw;
    min-height: 100vh;
  }
  .main-body {
    flex-direction: column;
    gap: 0;
  }
  .main-body > * {
    width: 100%;
    min-height: none;
    margin-bottom: 0;
  }
  .left-side {
    padding-inline-start: 0rem;
    box-sizing: border-box;
  }

  .anime-title {
    font-size: 6vw;
    text-align: center;
    font-family: DexaPro-Bold;
    margin: 0 auto;
    line-height: 1em;
    animation: sub-fadein 1.2s ease-in;
  }

  .anime-title-container {
    display: flex;
    margin: 0;
    height: 12em;
    align-items: center;
    margin-top: 2rem;
  }

  .anime-synopsis {
    padding-right: 0rem;
    font-size: 12px;
    text-align: justify;
    justify-content: center;
    padding-inline: 15px;
    animation: sub-fadein 1.5s ease-in;
  }
  .anime-meta-detail {
    height: 100%;
  }
  p {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
  }
  .more-info {
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: center;
  }
  .surprise {
    margin-block: 1rem;
  }

  /* Navigation */
  .extra-desktop {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 30%;
    top: 4.7rem;
  }

  .links-desktop {
    display: none;
  }

  .links-mobile {
    display: flex;
    flex-direction: column;
    height: 0;
    width: 100vw;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
    background-color: #0195ff6b;
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.5s ease, opacity 0.1s ease-in;
    z-index: 2;
    backdrop-filter: blur(50px);
  }

  .show-links {
    height: 100vh;
    visibility: visible;
    height: 100vh;
  }

  .hamburger {
    display: flex;
    position: absolute;
    right: 1rem;
    top: 1rem;
    align-items: flex-end;
    z-index: 3;
    background-color: transparent;
    color: silver;
    border: none;
    font-size: 1.5rem;
  }

  .logo {
    position: absolute;
    font-size: 11px;
    top: 3%;
    display: none;
  }

  .arrow-left,
  .arrow-right {
    display: none;
  }

  .share-info{
    position: relative;
    top:.18rem
  }
}
/* End Mobile Here */

.addtransition {
  animation: fade-in 1s ease;
}

.anime-cards::-webkit-scrollbar {
  display: none;
}

@keyframes sub-fadein {
  0% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  50% {
    opacity: 0;
    visibility: visible;
    display: none;
  }

  100% {
    opacity: 1;
    visibility: visible;
    display: flex;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }

  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }

  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
