body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images/spy-x-family-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  margin: 0;
}

a {
  color: silver;
  text-decoration: none;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.navigation-desktop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  /* height: 100%; */
}

.logo {
  display: flex;
  width: 10%;
  padding-inline-start: 3rem;
}

.links-desktop {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.extra-desktop {
  width: 30%;
  display: flex;
}

/* Section */
.main-body {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  width: 100%;
  gap: 3rem;
}

.main-body > * {
  width: 100%;
  min-height: 60%;
  margin-bottom: 1rem;
}

.left-side {
  padding-inline-start: 3rem;
  box-sizing: border-box;
}

.anime-title {
  display: flex;
  align-items: flex-end;
  height: 100%;
  font-size: 64px;
  font-family: DexaPro-Bold;
  margin: 0;
  /* overflow-y: auto; */
  line-height: 1em;
  animation: sub-fadein 1.2s ease-in;
}

.anime-title-container {
  /* display: flex; */
  margin: 0;
  height: 12em;
  /* align-items: center; */
}

p {
  font-size: 12px;
  width: 100%;
  text-align: justify;
}

.anime-synopsis {
  height: 100%;
  margin: 0;
  padding-right: 1rem;
  font-size: 14px;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  animation: sub-fadein 1.5s ease-in;
}

.anime-meta-details {
  display: flex;
  align-items: flex-end;
  height: 12rem;
  margin: 0;
}

.more-info {
  color: white;
  background-color: #0195ff;
  border: none;
  padding: 1rem;
  padding-inline: 2rem;
  border-radius: 5%;
}

.more-info:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
  filter: drop-shadow(0 0 0.55rem #0195ff);
  transform: scale(1.05) rotate(-1deg);
  backdrop-filter: blur(10px);
  transition: all 0.2s ease;
}

.right-side {
  min-width: 0;
  min-height: 35%;
  align-items: flex-end;
}

.anime-cards {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  overflow-x: scroll;
  gap: 0.1rem;
  min-width: 0;
  cursor: grab;
  padding: 1rem;
}

.cards {
  height: 200px;
  width: 150px;
  border: 2px solid rgba(0, 0, 0, 0.301);
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  margin-inline: 0.2rem;
  font-size: small;
  text-align: center;
  cursor: pointer;
}

.cards:hover {
  transform: scale(1.1);
  box-shadow: 2px 25px 21px 1px #0195ff;
  background-color: linear-gradient(white, white);
  transition: all 1s ease;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Scroll Bars */
.style-1::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

@keyframes sub-fadein {
  0% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  50% {
    opacity: 0;
    visibility: visible;
    display: none;
  }

  100% {
    opacity: 1;
    visibility: visible;
    display: flex;
  }
}

.addtransition {
  animation: sub-fadein 2s ease-in;
  transition: all 2s ease;
}

/* Search Bar From Hall Management */
.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 2rem; */
}
.input-search {
  height: 10px;
  width: 0px;
  border-style: none;
  padding: 10px;
  font-size: 11px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #0195ff;
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  font-weight: 100;
}
.btn-search {
  padding-right: 1rem;
  border-style: none;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 2px;
  top: 15%;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/* Transition Anime Data */
.year {
  animation: sub-fadein 1.56s ease-in;
}

.genre {
  animation: sub-fadein 1.66s ease-in;
}

.episode-count {
  animation: sub-fadein 1.76s ease-in;
}

.rating {
  animation: sub-fadein 1.86s ease-in;
}
