body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images/spy-x-family-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  margin: 0;
}

a {
  color: silver;
  text-decoration: none;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.navigation-desktop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* height: 100%; */
}

.logo {
  display: flex;
  width: 20%;
  padding-inline-start: 3rem;
}

.links-desktop {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.extra-desktop {
  width: 20%;
  display: flex;
}

/* Section */
.main-body {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  width: 100%;
  gap: 3rem;
}

.main-body > * {
  width: 100%;
  min-height: 60%;
  margin-bottom: 1rem;
}

.left-side {
  padding-inline-start: 3rem;
  box-sizing: border-box;
}

.anime-title {
  font-size: 64px;
  font-family: DexaPro-Bold;
  margin: 0;
}

p {
  font-size: 12px;
  width: 80%;
}

.watch-now {
  color: white;
  background-color: #0195ff;
  border: none;
  padding: 1rem;
  padding-inline: 2rem;
  border-radius: 5%;
}

.right-side {
  min-width: 0;
  min-height: 35%;
  align-items: flex-end;
}

.anime-cards {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  overflow-x: scroll;
  gap: 0.1rem;
  min-width: 0;
  cursor: grab;
  padding: 1rem;
}

.cards {
  height: 200px;
  width: 150px;
  border: 2px solid rgba(0, 0, 0, 0.301);
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  margin-inline: 0.2rem;
  font-size: small;
  text-align: center;
  cursor: pointer;
}

.cards:hover {
  transform: scale(1.1);
  box-shadow: 2px 25px 21px 1px #0ff;
   background-color: linear-gradient(white, white);
  transition: all 1s ease;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
