::root {
  --default-background-color: #0195ff;
  --default-text-color: #c0c0c0;
}
/* import font file from assets fonts */
@font-face {
  font-family: DexaPro-Regular;
  src: url("../fonts/DexaPro-Regular.ttf");
}
@font-face {
  font-family: DexaPro-Bold;
  src: url("../fonts/DexaPro-Bold.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DexaPro-Regular";
}

p,
a,
h1,
h2,
h3,
h4,
h5 {
  color: silver;
  /* FIXME: usevariable */
}
a {
  text-decoration: none;
}
a:visited {
  color: --default-color;
}

.is-a-container {
  width: min(100%, 1200px);
  margin: 0 auto;
}

body {
  background-color: #090909;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #0195ff;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0195ff;
}
