::root {
  --default-background-color: #0195ff;
  --default-text-color: #c0c0c0;
}
/* import font file from assets fonts */
@font-face {
  font-family: DexaPro-Regular;
  src: url("../fonts/DexaPro-Regular.ttf");
}
@font-face {
  font-family: DexaPro-Bold;
  src: url("../fonts/DexaPro-Bold.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DexaPro-Regular";
}

p,
a,
h1,
h2,
h3,
h4,
h5,
button {
  color: silver;
  /* FIXME: usevariable */
}
a {
  text-decoration: none;
}
a:visited {
  color: --default-color;
}

.is-a-container {
  width: min(100%, 1200px);
  margin: 0 auto;
}

body {
  background-color: #090909;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #0195ff;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0195ff;
}

.info-trailer-container {
  display: flex;
}
.info-container {
  width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

[v-cloak] > * {
  display: none;
}
[v-cloak]::before {
  background-color: black;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #090909;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.loading svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}
