@import "./base.css";

main {
  display: flex;
}

.left-side-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 92vh;
}
.right-side-main {
  /* background-color: darkred; */
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 90vh;
}
