@import "./base.css";

main {
  display: flex;
}

.left-side-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
}
.right-side-main {
  width: 45%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 92vh;
}

.main-card-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 95vh;
  width: 100%;
}

.shimmer {
  mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
  -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350%
    100%;
  background-repeat: no-repeat;
  animation: shimmer 2.5s infinite;
  background-color: #ffffffd2;
  opacity: 0.5;
  backdrop-filter: blur(20px);
}

[v-cloak] > * {
  display: none;
}
[v-cloak]::before {
  background-color: black;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #090909;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.loading img {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

@keyframes shimmer {
  100% {
    -webkit-mask-position: left;
  }
}

@media screen and (min-width: 2200px) {
  .left-side-main {
    width: 45%;
  }
}

@media screen and (max-width: 821px) {
  .left-side-main {
    width: 100%;
    min-height: 50rem;
  }
  .right-side-main {
    width: 100%;
    min-height: 100%;
  }
  .main-card-section {
    min-height: 100%;
  }
}
