body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(-45deg, #000000d2, #191b1ade),
    url("../images/doodleBG.jpg");
  background-size: cover;
  height: 100vh;
  color: white;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  animation: sub-fadein 0.3s ease-in;
  /* overflow: hidden; */
}

.mainpage {
  display: flex;
  flex-direction: column;
}

label {
  font-size: large;
  font-weight: bold;
}
input,
textarea {
  font-family: DexaPro-Regular;
  margin-bottom: 2rem;
  height: 2rem;
  border: 2px solid gray;
  border-radius: 10px;
  padding-inline: 1rem;
  font-size: 15px;
  outline-color: gray;
}

textarea {
  padding: 1rem;
}

h1 {
  margin-bottom: 0;
}
.to-be-blurred {
  position: relative;
  filter: blur(5px);
}

.main-body-container {
  position: relative;
  margin: 0 auto;
  width: 40%;
  background-color: rgba(141, 141, 141, 0.178);
  backdrop-filter: blur(50px);
  border: 2px solid white;
  border-radius: 2%;
  padding: 1rem;
  height: 90%;
  backdrop-filter: blur(30px);
}

.contact-me {
  display: flex;
  flex-direction: column;
}

.submit {
  display: flex;
  justify-content: center;
  padding-inline: 4rem;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  border: 0;
  background-color: rgb(1, 131, 66);
  color: white;
  /* padding-block: 1rem; */
}

.submit:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
  filter: drop-shadow(0 0 0.55rem rgb(3, 216, 110));
  transform: scale(1.05) rotate(-1deg);
  backdrop-filter: blur(10px);
  transition: all 0.2s ease;
}
.fname {
  display: block;
}

p {
  margin: 0 auto;
  width: 40%;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

.navigation-desktop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  /* height: 100%; */
}

.logo {
  position: absolute;
  display: flex;
  width: 10%;
  padding-inline-start: 3rem;
}

.links-desktop {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  /* justify-content: center; */
  /* margin-inline: 5rem; */
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: silver;
}

.contact-heading-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
  justify-content: center;
}

.about,
h2,
.third {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.about-body {
  font-weight: normal;
  text-align: left;
  width: 40%;
  margin: 0 auto;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 40%;
}
li {
  margin-block: 0.8rem;
  margin-top: 0;
}

.links-mobile {
  display: none;
}
.hamburger {
  display: none;
}
.extra-mobile {
  display: none;
}

@keyframes sub-fadein {
  0% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  50% {
    opacity: 0;
    visibility: visible;
    display: none;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 13px;
  }

  html,
  body {
    margin: 0;
    height: 100%;
  }

  p {
    width: 100%;
  }
  .main-body-container {
    margin: 0 auto;
    padding: 0.5rem;
    width: 85%;
  }
  .contact-heading-container {
    margin-top: 1.3rem;
    width: 100%;
  }
  .about-body {
    width: 100%;
    text-align: center;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  }
  li {
    margin: 0;
    width: 100%;
  }
  .links-desktop {
    display: none;
  }

  .links-mobile {
    display: flex;
    flex-direction: column;
    height: 0;
    width: 100vw;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
    background-color: #0e0f0f;
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.5s ease, opacity 0.1s ease-in;
    z-index: 2;
    font-size: 18px;
  }

  .show-links {
    height: 100vh;
    visibility: visible;
    height: 100vh;
  }

  .hamburger {
    display: flex;
    position: absolute;
    right: 1rem;
    top: 1rem;
    align-items: flex-end;
    z-index: 3;
    background-color: transparent;
    color: silver;
    border: none;
    font-size: 1.5rem;
  }

  .supported{
    margin-bottom: 0;
  }

  .about{
    margin-top: 0;
  }
  .third{
    flex-direction: column;
  }

  .logo{
    top: 3.5%;
  }
}
